In [2]:
#break
for i in range(1, 11):
  if i == 5:
    break;
  print(i)

1
2
3
4

In [11]:
#continue
j = 10
for i in range(1, 6):
  print(f"{i}", "\t", f"{j}"  )
  j -=1

1 	 10
2 	 9
3 	 8
4 	 7
5 	 6

In [21]:
  #Nested for Loop
  #outer loops represent rows
  #inner loop represent columns
  #if i(10) and j(10)
  #for the value of i = 1 all the value of j will run
  for i in range(1, 6): #for 1 iteration of 1
    for j in range(1,6):#all iteration of j will run
      print(f"{i}", end = " ")
    print("\n")

1 1 1 1 1

2 2 2 2 2

3 3 3 3 3

4 4 4 4 4

5 5 5 5 5

In [24]:
n = 1
for i in range(1,5):
  for j in range(1,5):
    print(f"{n}", end = " ")
    n += 1
  print("\n")

1 2 3 4

5 6 7 8

9 10 11 12

13 14 15 16

In [27]:
n = 65
for i in range(1,5):
  for j in range(1,5):
    print(chr(n),end = " ")
    n+=1

  print("\n")

A B C D

E F G H

I J K L

M N O P

In [31]:
for i in range(1, 5):
  for j in range(1, i+1):
    print(i, end = "")
  print(  )

1
22
333
4444

In [34]:
for i in range(1, 5):
  for j in range(5, i, -1):
    print("*" , end = "")
  print(  )

****
***
**
*

In [35]:
for i in range(1, 5):
  for k in range(1, i+1):
    print(" ", end = "")
  for j in range(5, i, -1):
    print("*" , end = "")
  print(  )

 ****
  ***
   **
    *

In [42]:
for i in range(1, 5):
  for k in range(4, i, -1):
    print(" ", end = "")
  for j in range(1, i+1):
    print("*" , end = "")
  print(  )

   *
  **
 ***
****

In [39]:
for i in range(1, 5):
  for k in range(5, i, -1):
    print(" ", end = "")
  for j in range(1, i+1):
    print("*" , end = " ")
  print(  )

    *
   * *
  * * *
 * * * *

In [47]:
# String Handling
# find func is use to find the value store a specific condition
s = "Hello world"
print(s.find("world"))
print(s.find("o"))
print(s.rfind("o"))

6
4
7