In [2]:
#break
for i in range(1, 11):
  if i == 5:
    break;
  print(i)

1
2
3
4

In [11]:
#continue
j = 10
for i in range(1, 6):
  print(f"{i}", "\t", f"{j}"  )
  j -=1

1 	 10
2 	 9
3 	 8
4 	 7
5 	 6

In [21]:
  #Nested for Loop
  #outer loops represent rows
  #inner loop represent columns
  #if i(10) and j(10)
  #for the value of i = 1 all the value of j will run
  for i in range(1, 6): #for 1 iteration of 1
    for j in range(1,6):#all iteration of j will run
      print(f"{i}", end = " ")
    print("\n")

1 1 1 1 1

2 2 2 2 2

3 3 3 3 3

4 4 4 4 4

5 5 5 5 5

In [24]:
n = 1
for i in range(1,5):
  for j in range(1,5):
    print(f"{n}", end = " ")
    n += 1
  print("\n")

1 2 3 4

5 6 7 8

9 10 11 12

13 14 15 16

In [27]:
n = 65
for i in range(1,5):
  for j in range(1,5):
    print(chr(n),end = " ")
    n+=1

  print("\n")

A B C D

E F G H

I J K L

M N O P

In [31]:
for i in range(1, 5):
  for j in range(1, i+1):
    print(i, end = "")
  print(  )

1
22
333
4444

In [34]:
for i in range(1, 5):
  for j in range(5, i, -1):
    print("*" , end = "")
  print(  )

****
***
**
*

In [35]:
for i in range(1, 5):
  for k in range(1, i+1):
    print(" ", end = "")
  for j in range(5, i, -1):
    print("*" , end = "")
  print(  )

 ****
  ***
   **
    *

In [42]:
for i in range(1, 5):
  for k in range(4, i, -1):
    print(" ", end = "")
  for j in range(1, i+1):
    print("*" , end = "")
  print(  )

   *
  **
 ***
****

In [39]:
for i in range(1, 5):
  for k in range(5, i, -1):
    print(" ", end = "")
  for j in range(1, i+1):
    print("*" , end = " ")
  print(  )

    *
   * *
  * * *
 * * * *

In [47]:
# String Handling
# find func is use to find the value store a specific condition
s = "Hello world"
print(s.find("world"))
print(s.find("o"))
print(s.rfind("o"))

6
4
7

In [48]:
#Count func
#counts the occurence of value
s = "kjdsajkbckasnckaskclansc"
print(s.count("a"))

4

In [54]:
#replace function
#need to pass to value new syring and old string
s = "bnbnbnbnbnbnbnbnbnbnbn"
print(s.replace("nb", "bn"))

bbnbnbnbnbnbnbnbnbnbnn

In [56]:
#split funtion convert it into list
s = "Hello World is a programming language"
print(s.split())
print(type(s.split()))

['Hello', 'World', 'is', 'a', 'programming', 'language']
<class 'list'>

In [60]:
s = "22-02-2024"
l = s.split("-")
print(l)
m = s.split(" ")
print(m)
for x in l:
  print(x)

['22', '02', '2024']
['22-02-2024']
22
02
2024

In [63]:
#join reverse of split
l = ["Hello", "World", "is", "a", "programming", "language"]
s = " ".join(l)
print(s)

Hello World is a programming language

In [64]:
#changing case of a string
s = "Hello World"
print(s.upper())
print(s.lower())
print(s.swapcase())
print(s.title())

HELLO WORLD
hello world
hELLO wORLD
Hello World

In [66]:
# Startwith and endwith
s = "Hello World"
print(s.startswith("Hello"))
print(s.endswith("World"))
print(s.endswith("Hello"))

True
True
False

In [72]:
#Type of character present in a screen
## To check type of characters present in a string:

# Python contains the following methods:
# 1) isalnum(): Returns True if all characters are alphanumeric
# ( a to z , A to Z ,0 to9 )
# 2) isalpha(): Returns True if all characters are only alphabet
# symbols(a to z,A to Z)
# 3) isdigit(): Returns True if all characters are digits only(
# 0 to 9)
# 4) islower(): Returns True if all characters are lower case
# alphabet symbolsI
# 5) isupper(): Returns True if all characters are upper case
# aplhabet symbols
# 6) istitle(): Returns True if string is in title case
# 7) isspace(): Returns True if string contains only spaces
x = input("Enter your mobile number: ")
if x.isdigit() and len(x) == 10:
  if x.startswith("6") or x.startswith("7") or x.startswith("8") or x.startswith("9"):
    print("Valid")
  else:
    print("Invalid")
else:
    print("Enter 10 digit Number")

Enter your mobile number: 687630590
Enter 10 digit Number

In [76]:
s = input("Enter string:")

print("".join(reversed(s)))
print(s[::-1])

Enter string:jash
hsaj
hsaj

In [81]:
s = input("Enter string:")
rev = ""
for i in s:
  rev = i + rev
print(rev)

Enter string:jash
hsaj

In [88]:
s = input("Enter  string:")
x = s.split(" ")
rev = " "
for i in x:
  rev = i + " " + rev
print(rev,)

Enter  stringJD is best
best is JD

In [96]:
s = input("Enter  string:")
x = s.split(" ")
rev = " "

for i in x:
  rev1 = " "
  for j in i:
    rev1 = j + rev1
  rev = rev + " " + rev1


print(rev)

KeyboardInterrupt: Interrupted by user

s = input("Enter  string:")
l = []
for i in s:
  if i not in l:
    l.append(i)
    output="".join(l)
print(output)

In [5]:
#List represent group of individual object
#insertion order is preserved
#duplicate object are allowed
#len function counts length
#count funct counts the no of occurences
#append func adds data to the list
#insert func enters value at specific index
#extend func entend list 1 with list 2
#remove func removes the specific occurence of the list
#pop func removes the last occurence
#reverse func reverse the list
#sort the list
#Mathematical operators can be used with List
n1 = [10, 10, 20, [30, 40, 50]]
n2 = [2,42,43,53]
res = n1 + n2
print(res)
res1 = n1 * 2
print(res1)
print(n1[3][0])
print(n1[3])

[10, 10, 20, [30, 40, 50], 2, 42, 43, 53]
[10, 10, 20, [30, 40, 50], 10, 10, 20, [30, 40, 50]]
30
[30, 40, 50]

In [8]:
n=[[10,20,30],[40,50,60], [70,80,90]]
print(n)
print("Elements by Row wise:")
for r in n:
  print(r)
print("Elements by Matrix style:")
for i in range(len(n)):
  for j in range(len(n[i])):
    print(n[i][j],end=' ')
  print()

[[10, 20, 30], [40, 50, 60], [70, 80, 90]]
Elements by Row wise:
[10, 20, 30]
[40, 50, 60]
[70, 80, 90]
Elements by Matrix style:
10 20 30
40 50 60
70 80 90

In [31]:
x = int(input("Enter the Number of Semesters: "))
sub = []
marks= []
marks1 = []
max_marks = []
f = False
for i in range(0, x, 1):
  m = int(input(f"Enter the number of subject in {i+1} semester: "))
  sub.append(m)
a = len(sub)
for j in range(0, a, 1):
  d = sub[j]
  for k in range(0, d, 1):
    n = int(input(f"Enter the marks of semester {j + 1}: "))
    if n > 100:
      f = True
      print("Enter valid marks")
      print("Re-enter")
      break
    else:
      marks.append(n)
      marks1.append(marks)
  if f == True:
    break
  e = max(marks)
  max_marks.append(e)
  marks.clear()
if f == True:
  print("End")
else:
  for j in range(0, a, 1):
    print(f"Maximum marks in semester {j + 1} is {max_marks[j]}: ")

Enter the Number of Semesters: 2
Enter the number of subject in 1 semester: 2
Enter the number of subject in 2 semester: 2
Enter the marks of semester 1: 101
Enter valid marks
Re-enter
Invalid Marks

In [33]:
#Tuple Creation
n = 2,2,2,2,2,2,2
print(n)
print(type(n))
#index define the index of first occurence
print(n.index(2))
#count define the no of occurence
print(n.count(2))

(2, 2, 2, 2, 2, 2, 2)
<class 'tuple'>

In [34]:
#Set object represent the group of unique value
# are mutable
# add function add value to the set
# remove func remove value from the set
l = [1,1,1,1,1,2,3,4,4,5,5,6,6,6,7]
print(l)
s = set(l)
print(s)

[1, 1, 1, 1, 1, 2, 3, 4, 4, 5, 5, 6, 6, 6, 7]
{1, 2, 3, 4, 5, 6, 7}

In [40]:
#Dictonary
d = {200: "Jash Desai"}
d[101] = "Jash"
d[102] = "JD"
d[200] = "JD1304"
print(d)
print(d[200])

{200: 'JD1304', 101: 'Jash', 102: 'JD'}
JD1304

In [42]:
rec = {}
n = int(input("Enter no of students: "))
i = 1
while i<=n:
  name = input("Enter the Student name")
  marks = int(input("Enter the marks"))
  rec[name] = marks
  i+=1
print(rec)

Enter no of students: 2
Enter the Student namename
Enter the marks23
Enter the Student nameajs
Enter the marks2324
{'name': 23, 'ajs': 2324}

In [43]:
d={100: 'ashish' ,200: 'Prashant', 300: 'sandip'}
print(d[100])
#print(d[400])
print(d.get(100))
print(d.get(400))
print(d.get(100,"Guest"))
print(d.get(400,"Guest"))

ashish
ashish
None
ashish
Guest

In [44]:
d={100: 'ashish' ,200: 'Prashant', 300: 'sandip'}
print(d.keys())
for k in d.keys():
  print(k)

dict_keys([100, 200, 300])
100
200
300

In [45]:
d = {}
sum = 0
for i in range(5):
  i1 = int(input("enter the number: "))
  d[i] = i1
for j in range(5):
  sum = sum + d[j]
print(sum)

enter the number: 1
enter the number: 2
enter the number: 3
enter the number: 4
enter the number: 5
15

In [57]:
n = 4
a = [1,3,2,4]
l = []
max = 0
j = 0
for i in range(n):
  for j in range(i+1, n, 1):
      if a[j]>a[i]:
        l.append(a[j])
        break

l.append(-1)
print(l)

[3, 4, 4, -1]

In [83]:
n = "aabbbbeeeeffggg"
a = []
for i in range(len(n)):
  count = 0
  for j in range(len(n)):
    if n[i]==n[j]:
      count+=1
    else:
      a.append(n[i]+str(count))



print(a)

['a2', 'a2', 'a2', 'a2', 'a2', 'a2', 'a2', 'a2', 'a2', 'a2', 'a2', 'a2', 'a2', 'a2', 'a2', 'a2', 'a2', 'a2', 'a2', 'a2', 'a2', 'a2', 'a2', 'a2', 'a2', 'a2', 'b0', 'b0', 'b4', 'b4', 'b4', 'b4', 'b4', 'b4', 'b4', 'b4', 'b4', 'b0', 'b0', 'b4', 'b4', 'b4', 'b4', 'b4', 'b4', 'b4', 'b4', 'b4', 'b0', 'b0', 'b4', 'b4', 'b4', 'b4', 'b4', 'b4', 'b4', 'b4', 'b4', 'b0', 'b0', 'b4', 'b4', 'b4', 'b4', 'b4', 'b4', 'b4', 'b4', 'b4', 'e0', 'e0', 'e0', 'e0', 'e0', 'e0', 'e4', 'e4', 'e4', 'e4', 'e4', 'e0', 'e0', 'e0', 'e0', 'e0', 'e0', 'e4', 'e4', 'e4', 'e4', 'e4', 'e0', 'e0', 'e0', 'e0', 'e0', 'e0', 'e4', 'e4', 'e4', 'e4', 'e4', 'e0', 'e0', 'e0', 'e0', 'e0', 'e0', 'e4', 'e4', 'e4', 'e4', 'e4', 'f0', 'f0', 'f0', 'f0', 'f0', 'f0', 'f0', 'f0', 'f0', 'f0', 'f2', 'f2', 'f2', 'f0', 'f0', 'f0', 'f0', 'f0', 'f0', 'f0', 'f0', 'f0', 'f0', 'f2', 'f2', 'f2', 'g0', 'g0', 'g0', 'g0', 'g0', 'g0', 'g0', 'g0', 'g0', 'g0', 'g0', 'g0', 'g0', 'g0', 'g0', 'g0', 'g0', 'g0', 'g0', 'g0', 'g0', 'g0', 'g0', 'g0', 'g0', 'g0', 'g0', 'g0', 'g0', 'g0', 'g0', 'g0', 'g0', 'g0', 'g0', 'g0']

In [87]:
str1 = input("Enter 1st String: ").lower()
str2 = input("Enter 2nd String: ").lower()

str1 = ''.join(sorted(str1))
str2 = ''.join(sorted(str2))

f = str1 == str2
print(f)

Enter 1st String: ycce
Enter 2nd String: ycsce
False