In [17]:
a=2
b=3
res = complex(a,b)
print(res)
print(complex(True))
print(complex(False))
print(complex(True, True))
print(complex(True, False))
print("Hi")

(2+3j)
(1+0j)
0j
(1+1j)
(1+0j)
Hi
3
3
3.5
3.7
<class 'float'>

In [19]:
print(int(3))
print(int(3.5))
print(float(3.5))
print(3.7)
print(type(3.7))

3
3
3.5
3.7
<class 'float'>

In [24]:
a = "Hi My name Is Jash"
print('H' in a)
print('N' in a)
print('Jash' in a)
List1 = ["JD", "Lakhan"]
print("Ayush" in List1)

True
False
True
False

In [28]:
import math
a = 5
area = math.pi * (a**2)
print(area)
print(math.pi)
print(math.sqrt(25))

78.53981633974483
3.141592653589793
5.0

In [35]:
a = int(input("Enter a nmber"))
b= int(input("Enter a number"))
print(a+b)

Enter a nmber12
Enter a number12
24

In [38]:
print("Addition is", int(input("Enter a value: "))+
                         int(input("Enter a value: ")))

Enter a value: 12
Enter a value: 13
Addition is 25

In [40]:
a = eval(input("Enter any Number"))
print(a)

Enter any Number12+13*5
77

In [42]:
#This is called as escape sequence
print("Hello \n World")
print("Hello \t World")
print("Hello" + "World")
print("Hello"*3)

Hello
 World
Hello 	 World
HelloWorld
HelloHelloHello

In [45]:
a, b, c = 10, 20, 30
print("The values of a, b, c: ", a, b, c)
print(a,b,c, sep = ",")

The values of a, b, c:  10 20 30
10,20,30

In [46]:
print("Hello", end = " ")
print("World")

Hello World

In [48]:
a = 10
b = 30
c = 20
print("a value is %i" %a)
print("b value is %i and c value is %d" %(b,c))

a value is 10
b value is 30 and c value is 20

In [50]:
name = "Jash"
Salary = 2000000
Company = "TCS"
print("Hello {0} your salary is {1} your company is {2}".format(name, Salary, Company))

Hello Jash your salary is 2000000 your company is TCS

In [51]:
a = int(input("Enter any number"))
print(a%10)

Enter any number135679
9