In [17]:
a=2
b=3
res = complex(a,b)
print(res)
print(complex(True))
print(complex(False))
print(complex(True, True))
print(complex(True, False))
print("Hi")

(2+3j)
(1+0j)
0j
(1+1j)
(1+0j)
Hi
3
3
3.5
3.7
<class 'float'>

In [19]:
print(int(3))
print(int(3.5))
print(float(3.5))
print(3.7)
print(type(3.7))

3
3
3.5
3.7
<class 'float'>

In [24]:
a = "Hi My name Is Jash"
print('H' in a)
print('N' in a)
print('Jash' in a)
List1 = ["JD", "Lakhan"]
print("Ayush" in List1)

True
False
True
False

In [28]:
import math
a = 5
area = math.pi * (a**2)
print(area)
print(math.pi)
print(math.sqrt(25))

78.53981633974483
3.141592653589793
5.0

In [35]:
a = int(input("Enter a nmber"))
b= int(input("Enter a number"))
print(a+b)

Enter a nmber12
Enter a number12
24

In [38]:
print("Addition is", int(input("Enter a value: "))+
                         int(input("Enter a value: ")))

Enter a value: 12
Enter a value: 13
Addition is 25

In [40]:
a = eval(input("Enter any Number"))
print(a)

Enter any Number12+13*5
77

In [42]:
#This is called as escape sequence
print("Hello \n World")
print("Hello \t World")
print("Hello" + "World")
print("Hello"*3)

Hello
 World
Hello 	 World
HelloWorld
HelloHelloHello

In [45]:
a, b, c = 10, 20, 30
print("The values of a, b, c: ", a, b, c)
print(a,b,c, sep = ",")

The values of a, b, c:  10 20 30
10,20,30

In [46]:
print("Hello", end = " ")
print("World")

Hello World

In [48]:
a = 10
b = 30
c = 20
print("a value is %i" %a)
print("b value is %i and c value is %d" %(b,c))

a value is 10
b value is 30 and c value is 20

In [50]:
name = "Jash"
Salary = 2000000
Company = "TCS"
print("Hello {0} your salary is {1} your company is {2}".format(name, Salary, Company))

Hello Jash your salary is 2000000 your company is TCS

In [51]:
a = int(input("Enter any number"))
print(a%10)

Enter any number135679
9

In [2]:
a = int(input("enter a number"))
sum = ((a//10)+(a%10))
print(sum)

enter a number12
3

In [3]:
a =  int(input("Enter any 3 digit number"))
sum = ((a//100)+((a%100)//10)+ (a%10))
print(sum)

Enter any 3 digit number111
3

In [6]:
a =  int(input("Enter any 3 digit number"))
sum = ((a//10000)+((a%10000)//1000)+ ((a%1000)//100)+ ((a%100)//10) + (a%10))
print(sum)

Enter any 3 digit number11111
5

In [9]:
a =  int(input("Enter any 5 digit number"))
sum = ((a//10000)+(((a%10000)//1000)*10)+ (((a%1000)//100)*100)+ (((a%100)//10)*1000) + ((a%10)*10000))
print(sum)

Enter any 5 digit number12345
54321

In [13]:
a =  int(input("Enter any 9 digit number"))
sum = (a//100000000 + a%10)
print(sum)

Enter any 9 digit number123456789
10

In [23]:
s = "JashDesai"
print(s[-1])
print(s[0])
print(s[0:4])
print(s[0:6:2])
print(s[::])

i
J
Jash
JsD
JashDesai

In [24]:
#Conditional Statemnt gives direction to the flow of Program
a = int(input("Enter a number"))
b = int(input("Enter a number"))
c = int(input("Enter a number"))
d = int(input("Enter a number"))
e = int(input("Enter a number"))
max = a
if(b>max):
  max = b
if(c>max):
  max = c
if(d>max):
  max = d
if(e>max):
  max = e
print("Maximum number is", max)

Enter a number1
Enter a number2
Enter a number3
Enter a number4
Enter a number5
Maximum number is 5

In [29]:
a = int(input("Enter marks"))
b = int(input("Enter marks"))
c = int(input("Enter marks"))
d = input("Enter Gender(m/f)")
sum = (a+b+c)/3
if sum >= 82 and d == "f":
  print("You are Eligible")
elif sum>=62 and d == "m":
  print("You are Eligible")
else:
  print("You are not Eligible")

Enter marks82
Enter marks82
Enter marks82
Enter Gender(m/f)f
You are Eligible

In [32]:
n = int(input("Enter any year"))
if (n%400 ==0):
  print("Centurial Leap Year")
elif (n%4 == 0 and n%100!=0):
  print("Normal Leap Year")
else:
  print("Not a Leap Year")

Enter any year1900
Not a Leap Year

In [37]:
n = int(input("Enter Your Cost Price"))
y = input("Are you a student")
if y =="y":
  if n > 500:
    print("Cost price:" , n)
    print("Total Discount:",n/10)
    print("Total Cost:", n-n/10)
  else:
    print("Cost price:" , n)
    print("Total Discount:",(5*n)/100)
    print("Total Cost:", n-(5 *n)/100)
else:
  if n > 500:
    print("Cost price:" , n)
    print("Total Discount:",(8*n)/100)
    print("Total Cost:", n-(8*n)/100)
  else:
    print("Cost price:" , n)
    print("Total Discount:",(2*n)/100)
    print("Total Cost:", n-(2*n)/100)

Enter Your Cost Price100
Are you a studenty
Cost price: 100
Total Discount: 5.0
Total Cost: 95.0

In [41]:
# ASCII Value
#A = 65, a = 97
no = input("Enter any Character")
no = ord(no)
if no >= 65 and no <= 90:
  print("Upper Case")
elif no >= 97 and no <= 122:
  print("Lower Case")
elif no >= 48 and no <= 57:
  print("Number")
else:
  print("Special Character")

Enter any Character1
Number

In [44]:
# For Loop is used when range is given
# While Loop is used when range is not given
n = int(input("Enter any  number"))
rev = 0
while n>0:
  rem = n % 10
  rev = rev*10 + rem
  n = n//10
print(rev)

Enter any  number1000
1

In [45]:
n = int(input("Enter any  number"))
rev = 0
while n>0:
  n = n // 10
  rev = rev + 1
print(rev)

Enter any  number123456
6

In [46]:
n = int(input("Enter any  number"))

sum=0
while n>0:
  sum = sum+ (n % 10)

  n = n//10
print(sum)

Enter any  number123
6

In [48]:
n = int(input("Enter any  number"))
sum=1
while n>0:
  sum = sum * (n % 10)

  n = n//10
print(sum)

Enter any  number123
6

In [49]:
n = int(input("Enter any  number"))
sum=1
while n>0:
  sum = sum * n

  n = n - 1
print(sum)

Enter any  number4
24

In [62]:
#n = int(input("Enter any  number"))


for i in range(1,1001):
  n = i
  b = n
  c = n
  rev = 0
  while b>0:
    rev = rev + 1
    b = b // 10

    #print(rev)
  sum = 0
  while n>0:
    d = n % 10
    sum = sum + (d**rev)
    n = n // 10
  if sum == c:
    print(sum)

1
2
3
4
5
6
7
8
9
153
370
371
407

In [66]:
#Tech Number
x = int(input("Enter any number"))
rev = 0
n = x
while n>0:
  n = n // 10
  rev = rev + 1
if rev%2 == 0:
  rev = rev//2
  a = x % (10**rev)
  b = x //(10**rev)

  if ((a+b)**2) == x:
    print("Tech Number")
  else:
    print("Not a Tech Number")
else:
  print("Digits are odd")

Enter any number2025
45
Tech Number